td{font-size:20pt;}
.big{font-size:20pt; text-align:center; font-weight:bold; color:#fffff0; background-color:#000080;}
.tit{font-size:40; text-align:center; color:#000000; font-weight:bold;}
b:hover{font-size:22pt; color:#000080; }
.mvrt{text-indent:15%;}
.mvrto{text-indent:30%;}
.mvrtb{text-indent:45%;}